<div class="row hidden-xs">
	<div class="col-md-12">
		<img src="img/header.png" />
	</div>
	<div class="col-md-2 logo-container">
		<a href="#home" title="home">
			<img src="img/logo.png" title="logo"/>
		</a>
	</div>
	<div class="col-md-12 nav-container">
		<nav>
			<ul class="nav">
				<li>
					<a class="nav-item" title="report missing" href="#home">Home</a> 
				</li>
				<li>
					<a class="nav-item" title="report missing" href="#report">Resport Missing</a> 
				</li>
				<li>
					<a class="nav-item" title="report missing" href="#sighting">Resport Sighting</a> 
				</li>
				<li>
					<a class="nav-item" title="Quick search" href="#quickSearch">Quick Search</a> 
				</li>
				<li>
					<a class="nav-item" title="More" href="javascript:;">More</a>
					<div class="flyout">
						<ul>
							<li><a href="#contact">Contact us</a></li>
							<li><a href="#donate">Donate</a></li>
							<li><a href="#volunteer">Volunteer</a></li>
							<li><a href="#feedback">Feedback</a></li>
							<li><a href="#help">Help</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>

<div class="row hidden-lg hidden-md hidden-sm mobile">
	<div class="burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="logo">
		<a href="#home"><img src="img/logo.png" /></a>
	</div>
</div>