<div class="row events">
	<div class="col-md-4">
		<a href="https://www.facebook.com/need.base">
			<img src="img/251014-1945715.jpg" />
			<div class="caption">Like, share and help</div>
		</a>
		
	</div>
	<div class="col-md-4">
		<a href="http://needbaseindia.org/donate.html">
			<img src="img/teach-child-donate-400x400.jpg" />
			<div class="caption">Donate</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="https://www.gudville.com/app?a=pt_tk_actn_v11&oi=J7gNEgoy9bGTFq3jO2RghR8ElVjlUr0q1nMe1Io7ljQ=&enid=nZTp0QTROCjG3c6CTu1t8UKnS9I8fyrR&ra=opty_sh_lg">
			<img src="img/social-media-4-social-good.jpg" />
			<div class="caption">Support</div>	
		</a>
		
	</div>
</div>
<div class="row feed">
	
</div>