<div class="row">
	<div class="col-md-12 report-container">
		<div class="form-container">
			<form action="http://ph-indaily-124.eva.ebay.com:8080/NBIRestService/nbi/common/search" METHOD="POST">
				<div class="row card">
					<div class="search-container col-md-12">
						<input type="text" name="subjectFirstName" placeholder="Search name" />
					</div>
					<div class="col-md-6 input-items">
						<label for="subjectMiddleName">Middle name</label>
						<input type="text" id="subjectMiddleName" placeholder="Middle name" name="subjectMiddleName" />
					</div>
					<div class="col-md-6 input-items">
						<label for="subjectLastName">Last name</label>
						<input type="text" id="subjectLastName" placeholder="Last name"" name="subjectLastName" />
					</div>
					<div class="col-md-6 input-items">
						<label for="language">Language</label>
						<input type="text" id="language" placeholder="Language" name="subjectLanguage" />
					</div>
					<div class="col-md-6 input-items">
						<label for="gName">Guardian's Name</label>
						<input type="text" id="gName" placeholder="Guardian's Name" name="guardian-name" />
					</div>
					<div class="col-md-6 input-items">
						<label for="guardianFirstName">Guardian's First Name</label>
						<input type="text" id="guardianFirstName" placeholder="Guardian's First Name" name="guardianFirstName" />
					</div>
					<div class="col-md-6 input-items">
						<label for="guardianMiddleName">Guardian's Middle Name</label>
						<input type="text" id="guardianMiddleName" placeholder="Guardian's Middle Name" name="guardianMiddleName" />
					</div>
					<div class="col-md-6 input-items">
						<label for="guardianLastName">Guardian's Last Name</label>
						<input type="text" id="guardianLastName" placeholder="Guardian's Last Name" name="guardianLastName" />
					</div>
					<div class="col-md-12 submit-wrapper">
						<input type="submit" name="submit" value="Submit" class="btn btn-primary submit" />
					</div>
				</div>
			</form>
			<div class="search-results row">
				
			</div>
		</div>
	</div>
</div>