body {
  background: #f0eeec !important;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
  line-height: 1;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}
nav > ul > li {
  float: left;
}
img {
  max-width: 100%;
}
.msg {
  display: none;
}
.msg.show {
  display: block;
}
.error {
  color: red;
}
.overflow {
  overflow: hidden;
  position: fixed;
}
.gap {
  height: 41px;
}
.list-card {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  position: relative;
  background: #fff;
  margin-top: 5px;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  background: #eee;
  opacity: 0.8;
  display: none;
}
.mask.show {
  display: block;
}
.menu-drawer {
  background: #444;
  width: 63%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 41px;
  z-index: 99;
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 500ms;
  box-shadow: 3px 0px 14px #ccc;
}
.menu-drawer.active {
  -webkit-transform: translate3d(0, 0, 0);
}
.menu-drawer ul li a {
  color: #fff;
  border-bottom: 1px solid #333;
}
header {
  position: relative;
}
header .logo-container {
  position: absolute;
  top: 22%;
  left: 20px;
}
header .nav-container {
  position: absolute;
  bottom: 0;
}
header nav {
  margin: 2px;
}
header nav ul li .flyout {
  position: absolute;
  box-shadow: 1px 1px 1px #ccc;
  background: #fff;
  border: 1px solid #eee;
  display: none;
  width: 115px;
  z-index: 10;
}
header nav ul li .flyout.show {
  display: block;
}
header nav ul li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background: #fff;
  margin-right: 2px;
  color: #222;
  border: 1px solid #fff;
  opacity: 0.9;
  font-weight: bold;
}
header nav ul li > a:hover {
  background: #428bca !important;
  color: #fff !important;
}
header nav ul li a {
  text-decoration: none !important;
}
header nav ul li.active > a {
  color: white;
  background: #428bca;
  border: 1px solid #fff;
}
header .mobile {
  background: #fff;
  box-shadow: 0px 1px 1px #ccc;
  height: 42px;
  position: fixed;
  top: 0px;
  left: 15px;
  z-index: 100;
  width: 100%;
}
header .mobile .burger {
  height: 30px;
  width: 29px;
  margin-left: 7px;
  float: left;
  margin-top: 7px;
  padding: 4px;
}
header .mobile .burger span {
  height: 3px;
  width: 100%;
  margin-top: 5px;
  display: block;
  background: #333;
}
header .mobile .burger span:first-child {
  margin-top: 0px;
}
header .mobile .burger:active {
  background: #eee;
}
header .mobile .burger.active {
  box-shadow: inset 1px 1px 4px #ccc;
}
header .mobile .logo {
  width: 65px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}
#mainContent .form-container .card {
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  position: relative;
  margin: 10px 0px 10px 0px;
}
#mainContent .form-container .card .section-head {
  color: #666;
  padding: 0px 10px 10px 15px;
  font-size: 19px;
}
#mainContent .form-container .card input,
#mainContent .form-container .card select {
  width: 100%;
  line-height: 22px;
  padding-left: 8px;
}
#mainContent .form-container .card .photo-container {
  position: relative;
  border: 1px solid #eee;
  text-align: center;
}
#mainContent .form-container .card .photo-container .uplaod-button {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 98px;
  font-size: 12px;
}
#mainContent .form-container .card .photo-container .hide {
  display: none;
}
#mainContent .form-container .card .submit-wrapper {
  text-align: right;
}
#mainContent .form-container .card .submit-wrapper .submit {
  width: 100px;
}
#mainContent .form-container .card .search-container {
  margin-bottom: 20px;
  background: #eee;
  padding: 6px;
}
#mainContent .form-container .input-items {
  margin-bottom: 20px;
  min-height: 47px;
}
.kid {
  margin-bottom: 10px;
}
.kid .pic {
  position: relative;
  text-align: center;
  border: 1px solid #eee;
  background: #fff;
  min-height: 202px;
}
.kid .details {
  background: #fff;
}
.kid .details .name {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 4px;
}
.kid .details .values {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
.kid .details .values .key {
  width: 50%;
  float: left;
}
.kid .details .values .value {
  width: 50%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.events {
  margin: 10px 0px 10px 0px;
}
.events .col-md-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.events .col-md-4 a {
  display: block;
  position: relative;
}
.events .col-md-4 a .caption {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 60px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  line-height: 60px;
}
.events .col-md-4 a img {
  border: 10px solid #428bca;
  width: 100%;
}
.feed .list-card {
  margin-bottom: 10px;
}
.feed .list-card .values {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
.feed .list-card .values .key {
  width: 50%;
  float: left;
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
}
.feed .list-card .values .value {
  width: 50%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  font-size: 14px;
}
.feed .col-md-4 {
  text-align: center;
  min-height: 200px;
}
.feed .name {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #eee;
}
.feed .share-wrapper {
  text-align: right;
  margin-top: 6px;
  border-top: 1px solid #eee;
  padding-top: 8px;
}
.feed .col-md-6:nth-child(2n+1) {
  clear: left;
}
footer {
  background: #fff;
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
}
footer ul {
  display: inline-block;
}
footer ul li {
  border-right: 1px solid #ccc;
  float: left;
}
footer ul li a {
  padding: 5px;
}
footer ul li:last-child {
  border-right: 0px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #mainContent .form-container .input-items {
    margin-top: 10px;
  }
}
