





<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/metro-bootstrap.css">
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/jquery.widget.min.js"></script>
        <script src="static/js//metro.min.js"></script>
    </head>
    <body class="metro" background="static/images/india.jpg" style="background-repeat: no-repeat;">
        <div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#_page_1">MOM's</a></li>
        <li class="active"><a href="/post_comment">Decisions</a></li>
        <li class="active"><a href="#_page_3">Report</a></li>
        <li class="active"><a href="#_page_4">Impact</a></li>
        
    </ul>
    <div class="frames">
    	
        <div class="frame" id="_page_1"><p style="color:white;">The Himalayan glaciers are ticking like an atom bomb to blast upon us and wipe out the 
water source of nearly 70% of our population which amounts to around 70 billion people. 
And who apart from all of us are to be blamed for the gravity of the situation we are in? If 
you still do not get the hint of where we are going. Let me paint you a picture.
Today is 60 years from the day our first president signed the constitution which had in its 
preamble the country “by the people, for the people, of the people”. Do you think the 
‘people’ of our country would care to think about this constitution when you take away 
an essential commodity like water away from most of them. And how would you feel 
when you realize later that it is a fact that you could have helped in preventing. Carbon 
footprint does not remain a joke anymore. </p>
<br><br>
<a class="button">Edit</a>
</div>
        <div class="frame" id="_page_2">Neeraj's Page</div>
        <div class="frame" id="_page_3"><p style="color:white;">The Himalayan glaciers are ticking like an atom bomb to blast upon us and wipe out the 
water source of nearly 70% of our population which amounts to around 70 billion people. 
And who apart from all of us are to be blamed for the gravity of the situation we are in? If 
you still do not get the hint of where we are going. Let me paint you a picture.
Today is 60 years from the day our first president signed the constitution which had in its 
preamble the country “by the people, for the people, of the people”. Do you think the 
‘people’ of our country would care to think about this constitution when you take away 
an essential commodity like water away from most of them. And how would you feel 
when you realize later that it is a fact that you could have helped in preventing. Carbon 
footprint does not remain a joke anymore.</p> 
<br><br>
<a class="button">Edit</a></div>
        
<div class="frame" id="_page_4"><p style="color:white;">The Himalayan glaciers are ticking like an atom bomb to blast upon us and wipe out the 
water source of nearly 70% of our population which amounts to around 70 billion people. 
And who apart from all of us are to be blamed for the gravity of the situation we are in? If 
you still do not get the hint of where we are going. Let me paint you a picture.
Today is 60 years from the day our first president signed the constitution which had in its 
preamble the country “by the people, for the people, of the people”. Do you think the 
‘people’ of our country would care to think about this constitution when you take away 
an essential commodity like water away from most of them. And how would you feel 
when you realize later that it is a fact that you could have helped in preventing. Carbon 
footprint does not remain a joke anymore. </p>
<br><br>
<a class="button">Edit</a></div>


    </div>
</div>
    </body>
</html>