<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SUMUKHA</title>
<link href="http://sumukha-foundation.org/style/style.css" rel="stylesheet" type="text/css" />
<link href="/static/demo.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

$(document).ready(function(){
$("#submit").on("click", function(e){

  e.preventDefault();
  var email = $("#email").val();
  $.get("/donor/"+ email, function(data){console.log(data)})
})

})
//-->
</script>
<SCRIPT LANGUAGE="JavaScript">
function right(e) 
{
  if (navigator.appName == 'Microsoft Internet Explorer' && 
  (event.button == 2 || event.button == 3)) 
{
alert("Sorry! Permission to right click is Void");
return false;
}
return true;
}

document.onmousedown=right;
document.onmouseup=right;
if (document.layers) window.captureEvents(Event.MOUSEDOWN);
if (document.layers) window.captureEvents(Event.MOUSEUP);
window.onmousedown=right;
window.onmouseup=right;
</SCRIPT>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" onload="MM_preloadImages('http://sumukha-foundation.org/images/Design---6--b_03.png','http://sumukha-foundation.org/images/Design---6--b_05.png','http://sumukha-foundation.org/images/Design---6--b_07.png','http://sumukha-foundation.org/images/Design---6--b_09.png','http://sumukha-foundation.org/images/Design---6--b_11.png')">
<center>
<div id="containerout">
<div id="container">

  {% for c in child %}
  <table>
    <tr><td>{{c.name}}</td></tr>
    <tr><td>{{c.id}}</td></tr>
    <tr><td>{{c.address}}</td></tr>
    <tr><td><image  height="100" src='{{url_for('static', filename="images/" +c.pic_paths)}}' /></td></tr>
    <tr><td>donors</td></tr>
    <tr> <td>{{c.surgeries}}</td></tr>
    <tr><td>{{c.status}}</td></tr>
    </table>
  <button id='{{c.id}}submit'> bring a smile</button>
<hr/>

  {% endfor %}

</div></div>
</div><!--content-->

<div id="footer">
<table width="100%">
<tr>
<td width="50%" height="100%"><div id="copyright" align="left">Copyright © 2014<a style="text-decoration:none" href="javascript: void(0)" onclick="window.open('http://www.sumukha-foundation.com/','SUMUKHA','width=1024, height=900');return false;"><font color="#FFFFFF">Sumukha Foundation</font></a></div><!--copyright--></td>
<td width="50%"><div id="sollics" align="right">Maintained by <a style="text-decoration:none" href="javascript: void(0)" onclick="window.open('http://www.sollics.com/','SOLLICS','width=1024, height=900');return false;"><font color="#FFFFFF">'Sollics'</font></a></div><!--sollics--></td>
</tr>
</table><!--footertab-->
</div><!--footer-->
</div><!--container-->
</div><!--containerout-->
</center>
</body>
</html>
