@charset "utf-8";
/*----------------------------------------
	Reset STYLES
------------------------------------------*//*

html, body, div, span, header, nav,
 footer, section, aside, article, figure,
 hgroup, time, mark, h1, h2,
 h3, h4, h5, h6, p, blockquote,
 a, abbr, address, cite, del, em,
 img, ins, q, small, strong, sub,
 sup, samp, dl, dt, dd, ol, ul, li	{
 									padding:0;
									border:0;
									margin:0;
									font-size:100%;
									font:inherit;
									vertical-align:baseline;
									background:transparent;}

article, aside, details, figcaption,
 figure, footer, header, hgroup,
 menu, nav, section   				{display:block;}

*/
/* Basic Styles *//*

body		 						{
									background: #fff;
									*/
/*font: 100%/1 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, sans-serif;*//*

									font: 90%/1 Arial, Helvetica, sans-serif;
									color: #333;
									-webkit-font-smoothing: antialiased; */
/* Fix for webkit rendering *//*

									-webkit-text-size-adjust: 100%;
									}



*/
/* Lists *//*

ul, ol                              {margin: 0}
ul                                  {list-style:none outside;}
ul li, ol li                        {padding:0; margin:0; font-size:1em; line-height:1.4em;} */
/*16px*//*

li li, li p                         {font-size:1em; line-height:1.4em}
ol 									{ list-style: decimal; }
ol, ul.square, ul.circle, ul.disc 	{ margin-left: 30px; }
ul.square 							{ list-style: square outside; }
ul.circle 							{ list-style: circle outside; }
ul.disc 							{ list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul 						{ margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li 					{ margin-bottom: 6px; }

*/
/* Tables *//*

table 								{border-collapse: collapse; border-spacing: 0; }




:focus {
	outline: 0;
}


*/
/* Links *//*

*/
/*a:link, a:visited                   {border-bottom:1px solid #c55500; color:#c55500; text-decoration:none;
									line-height: inherit}
a:visited                           {border-bottom:1px solid #730800; color:#730800;}
a:hover, a:focus, a:active     		{border:0; color:#fff; background:#c55500;}
a:visited:hover                     {background:#730800;}*//*

a               					{color:#477ABB; text-decoration:none; line-height: inherit}
a:hover, a:focus, a:active     		{border:0; color:#333; outline:none}

*/
/* paragraphs, quotes *//*

p, blockquote						{margin:0; font-size:1em; line-height:1.4em;} */
/* 16px *//*

blockquote							{padding:0 25px; border-left:3px solid #999; margin:1em 0 1.4em;}
blockquote p                  		{font-family:calibri, arial, sans-serif; font-size:1em; color:#666;}

blockquote, q 						{quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after 					{content: ''; content: none; }

*/
/* Other *//*

em, i								{ font-style: italic; }
strong, b							{ font-weight: bold }
small 								{ font-size:0.875em; }

*/
/*
hr 									{ border: solid #ddd; border-width: 1px 0 0;
									clear: both; margin: 10px 0 30px; height: 0; }
*//*

*/
/* Images *//*

img.fluid 							{max-width: 100%;height: auto; }
a img								{border:none}


*/
/* #Clearing
================================================== *//*


*/
/* Self Clearing Goodness *//*

.pageWidth:after 				{ content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

*/
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> *//*

.clearfix:before,
.clearfix:after,
.row:before,
.row:after						{content: '\0020';
								display: block;
								overflow: hidden;
								visibility: hidden;
								width: 0;
								height: 0; }
.row:after,
.clearfix:after 					{clear: both; }
.row,
.clearfix 						{zoom: 1; }

*/
/* You can also use a <br class="clear" /> to clear columns *//*

.clear 							{clear: both;
								display: block;
								overflow: hidden;
								visibility: hidden;
								width: 0;
								height: 0;
								}



*/
/* fc layouts *//*

#wrapper        { width:100%}
*/

.pageWidth      { width:960px; margin:0 auto;}
.mainContainer	{margin: 20px 0}
.mainContainer .pageWidth {	position:relative; }

/* homepage 2 col layout*/
.ltContainer	{width: 690px; float:left}
.rtSidebar		{width: 250px; float:right}





.fRight {
	float: right;
}
.fLeft {
	float: left;
}
.clearBoth {
	clear:both;
	font-size:0px;
	line-height:1px;
	height:0px
}
span.clearBoth {
	display:block;
	width:100%;
}
.cl {
	clear:both;
	display:block;
}
.displaynone{
	display: none;
	}

.displayblock{
	display: block;
	}

/*----------------------------------------
	LAYOUT STYLES
------------------------------------------*/


/*
.footer {
	height:auto;
	clear: both;
	border-top:1px solid #dddddd;
	color: #666666;
}
*/
/*----------------------------------------
	COMMON STYLES
------------------------------------------*/
/*---  Action Element Style ----*/
.softLink, .softLink:hover {
	color : #7777CC ;
}


.cancel {
    height:14px;
	width:16px;
	display:inline-block;
	font-size:0; 
	line-height:0;
	background:url(../images/freecharge_sprite.png) -224px 0 no-repeat;
	margin:0 2px;
}
.cancel:hover{
	background-position:-240px 0;
	text-decoration:none;
}


/*
	



.submitDisabled , .submitDisabled:hover , .submitDisabled:active ,.submitDisabled:focus {
	color: #999;
	text-shadow:none;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px 1px #ccc inset;
	-moz-box-shadow: 1px 1px 1px 1px #ccc inset;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc inset;
	background: #eeeeee;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 53%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(53%,#cccccc), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 53%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 53%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 53%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 53%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
}

.submitDisabled:hover {
	color: #777;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px 1px #f3f3f3 inset;
	-moz-box-shadow: 1px 1px 1px 1px #f3f3f3 inset;
	-webkit-box-shadow: 1px 1px 1px 1px #f3f3f3 inset;
	background: #eeeeee;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 53%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(53%,#eeeeee), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 53%,#dddddd 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 53%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 53%,#dddddd 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 53%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 );
}
.submitDisabled:active ,.submitDisabled:focus  {
	color: #555;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px 1px #ddd inset;
	-moz-box-shadow: 1px 1px 1px 1px #ddd inset;
	-webkit-box-shadow: 1px 1px 1px 1px #ddd inset;
	background: #eeeeee;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 53%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(53%,#dddddd), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 53%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 53%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 53%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 53%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
}



.cmnSmlBtn   {
	display: inline-block;
	font-size:13px;
	font-weight:bold;
	height:29px;
	padding:1px 20px 0 ;
	line-height:16px;
	color: #666666;
	text-decoration: none;
	cursor: pointer;
	font-family:Arial, Helvetica, sans-serif;
	-moz-border-radius: 9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	background: #fdfdfd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y3ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYyZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f7f8f8 50%, #f1f2f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(50%,#f7f8f8), color-stop(100%,#f1f2f3));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f7f8f8 50%,#f1f2f3 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f7f8f8 50%,#f1f2f3 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f7f8f8 50%,#f1f2f3 100%);
	background: linear-gradient(top,  #fdfdfd 0%,#f7f8f8 50%,#f1f2f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f1f2f3',GradientType=0 );
	border:1px solid #b7b7b7;
	box-shadow:0 1px 2px 0 #eaeaea;
	-moz-box-shadow:0 1px 2px 0 #eaeaea;
	-webkit-box-shadow:0 1px 2px 0 #eaeaea;
	overflow:visible;
}
a.cmnSmlBtn  {
	line-height:28px;
}
.cmnSmlBtn:hover {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iI2Y3ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2YxZjJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2YxZjJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f7f8f8 23%, #f1f2f3 43%, #f1f2f3 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(23%,#f7f8f8), color-stop(43%,#f1f2f3), color-stop(99%,#f1f2f3));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f7f8f8 23%,#f1f2f3 43%,#f1f2f3 99%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f7f8f8 23%,#f1f2f3 43%,#f1f2f3 99%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f7f8f8 23%,#f1f2f3 43%,#f1f2f3 99%);
	background: linear-gradient(top,  #fdfdfd 0%,#f7f8f8 23%,#f1f2f3 43%,#f1f2f3 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f3', endColorstr='#fdfdfd',GradientType=0 );
	text-decoration: none;
	color: #666666;
	border:1px solid #b7b7b7;
}
.cmnSmlBtn:active , .cmnSmlBtn:focus {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iI2Y3ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2YxZjJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2YxZjJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f1f2f3 23%, #f7f8f8 43%, #f1f2f3 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(23%,#f1f2f3), color-stop(43%,#f7f8f8), color-stop(99%,#f1f2f3));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f1f2f3 23%,#f7f8f8 43%,#f1f2f3 99%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f1f2f3 23%,#f7f8f8 43%,#f1f2f3 99%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f1f2f3 23%,#f7f8f8 43%,#f1f2f3 99%);
	background: linear-gradient(top,  #fdfdfd 0%,#f1f2f3 23%,#f7f8f8 43%,#f1f2f3 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f3', endColorstr='#fdfdfd',GradientType=0 );
	text-decoration: none;
	color: #666666;
	border:1px solid #b7b7b7;
}

button::-moz-focus-inner, input[type="text"]::-moz-focus-inner, textarea::-moz-focus-inner, select::-moz-focus-inner, option::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none; outline:none;
}*/

/*---  Headers Style  ----*/
.footerHeader{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#bbbbbb;
	line-height:18px;
	text-transform:uppercase;
	padding-bottom:10px;
	padding-top:13px;
} 


/*
h1, .mainHeader{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	line-height:28px;
	color:#333;
	padding-bottom:3px;
	letter-spacing:0.025em;
}
.mainHeader  .editLink{
	font-size:12px;
	font-weight:normal;
	line-height:20px;
    margin-right: 5px;
    position: relative;
    top: 10px;
}
*/

.pageHeader{
	padding:15px 0 20px;
	line-height: 30px;
}

.blockTitle, .pageHeader{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#273c7f;
	padding-bottom:10px;
}

.pageHeader .ico{
	margin:0 10px 0 0;
}

.blockTitleSml , .sectionHeaderBrwn{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#aa6b00;
	line-height:28px;
	padding-bottom:5px;
}
.sectionHeaderBrwn {
	line-height:18px;
	font-weight:bold;
	font-size:14px;
}

.smlHeader{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color:#666666;
	line-height:18px;
	padding-bottom:5px;
	cursor:pointer;
}
.popupTitle{
    color: #fff;
    display: block;
    	padding:5px 10px 10px 20px;
	margin-bottom:0;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	background:#3158B2;
	letter-spacing:.05em;
	}
.alertIco{
	background:url(../images/spriteMsg.png) 0 -657px no-repeat;	
    display: inline-block;
	height:18px;
	width:20px;
	font-size:0; 
	line-height:0;
	}
/*---  Navigation Style  ----*/
.hNav {
	list-style:none;
	display:block;
}
.hNav li {
	display:inline;
}
.hNav li a {
	float:left;
	text-decoration:none;
}
ul.vNav {
	list-style:none;
}
ul.vNav li {
	clear:both;
}
ul.vNav li a {
	float:left;
	text-decoration:none;
}
dl.vList {
	list-style:none;
	font-size:11px;
	padding:10px 0 0 0;
	line-height:14px;
}
dl.vList dt {
	text-transform:uppercase;
	margin:0;
	padding-bottom:9px;
	color:#41539d;
	display:block;
	font-size:11px;
}
dl.vList dd {
	width:100%;
	float:left;
	padding-bottom:10px;
}

/*---  Form Element Style  ----*/
/*input, select, textarea, .inputStyle {
    box-shadow: 0 0 3px 3px #F6F6F6 inset;
	-moz-box-shadow: 0 0 3px 3px #F6F6F6 inset;
	-webkit-box-shadow: 0 0 3px 3px #F6F6F6 inset;
	padding:3px 7px; 
	border:1px solid #CCCCCC;
	font-size:12px;
	color:#5F5F5F;
	font-family: Arial;
	margin:0;
	color:#5F5F5F;
}
.inputStyle input{
	border:0;
	background:none;
	box-shadow:none;
	width:80px;	
	padding:0;
}
textarea { 
	width:246px;
	height:100px;
	resize:none;
	overflow:auto;
	}*/
input.checkbox ,input.rdoIn{
	padding:0;
	width:15px;
	height:15px;
	border:0;
	margin:1px 4px 0 0;
	box-shadow:none;
}
input.radio {
	padding:0;
	margin:2px 0 0 0;
	width:16px;
	height:16px;
	border:0;
}
label.radioLbl{
	width:auto; 
	padding:7px 0 0 0;
}
/*input.softNormText, textarea.softNormText, select.softNormText {
	color:#000;
	font-style:normal;
} */

input.chkBox, input[type=checkbox] {
    border: 0 none;
	margin: 2px;
	padding:0; 
	width:15px;
	height:15px;
}

/*----- Messages Styling Starts ------------------------------*/

/*----- Messages Styling Ends ------------------------------*/

/*---  Special  Wrapper Style  ----*/
 
/*---  Other Style  ----*/

.upCase{
	text-transform:uppercase;
}
.lightClr {
	color:#666666;
}
.lighterClr{
	color:#bbb;
}
.redClr{
	color:#ff0000;	
}
.blueClr {
	color:#0088ca;
}
.orangeClr {
	color:#ef8a0b;
}
.greenClr{
	color:#1da843;	
}
.greenClrOffer{
	color:#336600;	
}
.lineThrough{
	text-decoration:line-through;
}
.softTxt{
	font-weight:normal;
}
.hardTxt{
	font-weight:bold;
	padding:0 0 8px;
	text-align:center;
}
.txtRt{
	text-align:right;
}
.prevArrow, .prevArrow:hover{
	width:23px;
	height:20px;
	border:1px solid #9d9d9d;
	border-left-color:#8e8e8e;
	border-right-color:#dbdbdb;
	line-height:20px;
	background: #fdfdfd;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f7f8fa 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(50%,#f7f8fa), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
	text-decoration:none;
	box-shadow:0 1px #dadada;
	-moz-box-shadow:0 1px #dadada;
	-webkit-box-shadow:0 1px #dadada;
	border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius:  2px 0 0 2px;
	color:#fff;
}
.prevArrow span{
	border-right:5px solid #a8a8aa;
	border-bottom:5px solid transparent;
	border-top:5px solid transparent;
	font-size:0;
	margin-left:8px;
}
.nextArrow, .nextArrow:hover{
	width:23px;
	height:20px;
	border:1px solid #9d9d9d;
	border-right-color:#8e8e8e;
	border-left-color:#dbdbdb;
	line-height:20px;
	background: #fdfdfd;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f7f8fa 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(50%,#f7f8fa), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	background: linear-gradient(top,  #fdfdfd 0%,#f7f8fa 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
	text-decoration:none;
	box-shadow:0 1px #dadada;
	-moz-box-shadow:0 1px #dadada;
	-webkit-box-shadow:0 1px #dadada;
	border-radius: 0 2px  2px 0;
	-moz-border-radius: 0 2px  2px 0;
	-webkit-border-radius: 0 2px  2px 0;
	color:#fff;
}
.nextArrow span{
	border-left:5px solid #a8a8aa;
	border-bottom:5px solid transparent;
	border-top:5px solid transparent;
	font-size:0;
	margin-left:8px;
}
 
.prevArrow:hover span, .nextArrow:hover span{
	border-right-color:#565656;
	border-left-color:#565656;
	text-decoration:none;
}

.plus{
	background:url(../images/freecharge_sprite.png)  -224px -16px no-repeat;
	width:16px;
	height:16px;
	font-size:0;
	line-height:0;
	display:inline-block;
	margin-right:5px;
}
.activeHeader .plus{
	background-position:-208px -16px;
}

.loaderCls{
	background:url(../images/ajax-loading.gif) center center no-repeat;
}
.upArrow {
	border-left: 14px solid transparent;
	border-bottom: 13px solid #d0e2f6;
	border-right: 14px solid transparent;
	height: 0;
	left: 50%;
	margin-left:-14px;
	position: absolute;
	bottom: 0;
	width: 0;
	display:inline-block;
	color:#fff;
}
.upArrow span {
	border-left: 14px solid transparent;
	border-bottom: 13px solid #FFFFFF;
	border-right: 14px solid transparent;
	display: block;
	height: 0;
	left: -14px;
	position: relative;
	top: 1px;
	width: 0;
	color:#fff;
}
.downArrow {
	border-left: 4px solid transparent;
	border-top: 5px solid #cacaca;
	border-right: 4px solid transparent;
	height: 0;
	left: 50%;
	margin-left:-4px;
	position: absolute;
	bottom: 0;
	width: 0;
	display:inline-block;
	color:#fff;
	bottom:-5px;
	font-size:0;
	line-height:0;
}
.downArrow span {
	border-left:4px solid transparent;
	border-top: 5px solid #FFFFFF;
	border-right: 4px solid transparent;
	display: block;
	height: 0;
	left: -4px;
	position: relative;
	top: -6px;
	width: 0;
	color:#fff;
}

.moreLinkLtArwTxt{
	position:relative;
	padding:0 12px 0 0;
	color:#b2b2b0;
	text-decoration:underline;
	display:inline-block;
	line-height:18px;
}
.moreLinkLtArwTxt:hover{
	text-decoration:none;
	color:#b2b2b0;
}
.moreLinkLtArw {
	background: url(../images/freecharge_sprite.png) no-repeat scroll -158px -32px transparent;
	display: inline-block;
	height: 8px;
	width: 6px;
	cursor: pointer;
	font-size:0; 
	line-height:0;
	text-decoration:none;
	margin:5px 0 0 0;
	position:absolute;
	top:0;
	right:2px;
}

/*---  Container style ----*/
.curveBlockWhite{
	border:1px solid #ddd;
    -webkit-border-radius:0 0 2px 2px;
    border-radius:0 0 2px 2px;
	padding:15px 20px;
    margin-bottom: 35px;
}
 
/*----------------------------------------
	Fonts Starts
------------------------------------------*/

/*@font-face {
    font-family: 'RupeeForadianRegular';
    src: url('../images/font/rupee_foradian-webfont.eot');
    src: url('../images/font/rupee_foradian-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/font/rupee_foradian-webfont.woff') format('woff'),
         url('../images/font/rupee_foradian-webfont.ttf') format('truetype'),
         url('../images/font/rupee_foradian-webfont.svg#RupeeForadianRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rupiforadianRoman';
    src: url('../images/font/rupi_foradian_0-webfont.eot');
    src: url('../images/font/rupi_foradian_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/font/rupi_foradian_0-webfont.woff') format('woff'),
         url('../images/font/rupi_foradian_0-webfont.ttf') format('truetype'),
         url('../images/font/rupi_foradian_0-webfont.svg#rupiforadianRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebRupeeBook';
    src: url('../images/font/webrupee.v2.0-webfont.eot');
    src: local(WebRupeeBook), 
		  url('../images/font/webrupee.v2.0-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/font/webrupee.v2.0-webfont-webfont.woff') format('woff'),
         url('../images/font/webrupee.v2.0-webfont-webfont.ttf') format('truetype'),
         url('../images/font/webrupee.v2.0-webfont-webfont.svg#WebRupeeBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

.webRupee{
	font-family: 'WebRupeeBook';
	}*/

/*----------------------------------------
	Fonts Ends
------------------------------------------*/
/*::-moz-selection {
text-shadow: none;
background: #E5F4F9  ;
color: #333333;
}
::selection {
text-shadow: none;
background: #E5F4F9  ;
color: #333333;
}*/